version: '3'

services:
  dendroid-pypy:
    build:
      context: .
      args:
        - IMAGE_NAME=${PYPY_IMAGE_NAME}
        - IMAGE_VERSION=${PYPY_IMAGE_VERSION}
    image: lycantropos/dendroid-pypy:1.6.1
    volumes:
      - ./dendroid:/opt/dendroid/dendroid
      - ./pyproject.toml:/opt/dendroid/pyproject.toml
      - ./README.md:/opt/dendroid/README.md
      - ./setup.py:/opt/dendroid/setup.py
      - ./tests:/opt/dendroid/tests
    entrypoint: pytest
